<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>SONGR / Albums</title>
</head>
<body>
<nav>
    <span>SONGR</span>
    <span id="back"><a href="/album">Back</a></span>
</nav>
<form th:action="${'/songs/'+albums.id}" method="POST">
    <label for="title">Title:  <input type="text" name="title" id="title"> </label><br>
    <label for="length">Length:  <input type="number" name="length" id="length"> </label><br>
    <label for="trackNumber">trackNumber: <input type="number" name="trackNumber" id="trackNumber"> </label><br>
    <input type="submit" value="Add Song">
</form>


<div class="albums">
    <div th:each="song : ${albums.songs}">

        <p>Title: <span th:text=${song.title}></span></p>
        <p>Length: <span th:text="${song.length}"></span></p>
        <p>Track Number: <span th:text="${song.trackNumber}"></span></p>
        <hr>
    </div>




</div>


<footer><SPAN>All Rights Reserved 	&copy;  Emam Shararah</SPAN></footer>
</body>
</html>